.quiz__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: none;
  flex-direction: column;
  align-items: center;

  background-image: url('./../images/ball.png'), url('./../images/eye.png');
  background-repeat: no-repeat;
  background-size: 36px 52px, 60px 58px;
  background-position: bottom 35px left, top 67px right;
  background-color: var(--fon-color);

  overflow-y: auto;
}

.quiz__top {
  width: 100%;
  height: 22vh;
  padding: 22px 42px;
  margin-bottom: 36px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.quiz__top-bad-script {
  max-width: 420px;
  padding: 0;
  margin: 0 auto;

  font-family: 'Bad-Script';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #ffffff;
  opacity: 0.6;

  &--final {
    position: relative;
    padding: 22px 12px;
    border-radius: 5px;
    color: #202024;

    background-color: #ffffff;

    opacity: 1;
    animation: show 1.7s linear;

    &::before {
      content: '';
      position: absolute;

      bottom: -12px;
      right: 18px;

      width: 17px;
      height: 17px;

      background-image: url('./../images/message.png');
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.quiz {
  width: 100%;
  height: 100%;

  flex-shrink: 1;
  margin-bottom: 34px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
}

.quiz-question {
  padding: 0;
  margin-bottom: 40px;

  text-align: center;
  font-size: 16px;
  line-height: 25px;

  color: var(--akcent-color);
  text-transform: uppercase;
}

.quiz-answers__list {
  width: 100%;
  margin-bottom: 36px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &--less-margin {
    margin-bottom: 20px;
  }
}

.quiz-answers__item {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
  display: flex;
  justify-content: center;
}

.quiz-indicator {
  padding: 0;
  margin: 0;
  margin-top: auto;

  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1em;

  color: var(--gray-color);
}

.quiz__label {
  position: relative;
  width: 100%;
  height: 40px;

  background: linear-gradient(
    90deg,
    rgba(228, 228, 228, 0.9) -6.2%,
    rgba(203, 203, 203, 0.9) 100%
  );
  border-radius: 50px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  &--invalid {
    border: 1px solid #ee5353;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;

    width: 15px;
    height: 6px;

    transform: translateY(-50%);

    background-image: url('./../images/arrow.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  & input {
    width: 100%;
    height: 100%;
    padding: 0 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #202024;

    background-color: transparent;
    border: none;
    cursor: pointer;

    outline: none;
  }
}

//
.select {
  width: 100%;
  min-height: 40px;

  border-radius: 50px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-image: url('./../images/arrow.png'),
    linear-gradient(
      90deg,
      rgba(228, 228, 228, 0.9) -6.2%,
      rgba(203, 203, 203, 0.9) 100%
    );
  background-position: right 15px center, center;
  background-size: 15px 6px, auto;
  background-repeat: no-repeat;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  cursor: pointer;
  outline: none;

  &--invalid {
    border: 1px solid #ee5353;
  }

  & option {
    width: 100%;
    height: 100%;
    padding: 0 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #202024;

    background-color: transparent;
    border: none;
    cursor: pointer;

    outline: none;
  }
}
//
.quiz__loading {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #202024;
}

.quiz__svg {
  margin-bottom: 27px;
}

.quiz__loading-text {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--gray-color);
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.quiz__svg {
  animation: loading 1.5s linear infinite;
}

.quiz__final-screen {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--fon-color);
}

@keyframes progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.quiz__record-svg {
  margin-bottom: 40px;
}

.quiz__bar {
  width: 260px;
  height: 4px;
  margin-bottom: 24px;

  display: flex;
  justify-content: flex-start;

  border-radius: 5px;
  background-color: #ffffff;
}

.quiz__progress {
  width: 100%;
  height: 4px;

  border-radius: 5px;
  background-color: var(--akcent-color);
  animation: progress 3s linear;
}

@keyframes percent-steps {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-90%);
  }
}

.quiz__bar-text-wrapper {
  width: 42px;
  overflow: hidden;
}

.quiz__bar-text {
  display: inline-block;
  font: inherit;
  transform: translate(-90%);
  animation: percent-steps 3s steps(9, end);
}

.quiz__bar-text-wrapper,
.quiz__message {
  padding: 0;
  margin: 0 0 12px;

  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;

  color: var(--gray-color);
}

.quiz__message {
  font-size: 12px;
  line-height: 14px;
}

// result

.quiz__result {
  width: 100%;
  height: 100vh;
  padding: 24px 30px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: #202024;
}

.result__message {
  position: relative;
  max-width: 480px;
  padding: 6px 14px;
  margin: 0 0 18px;

  font-size: 14px;
  line-height: 18px;

  text-align: center;

  color: #202024;

  background-color: #ffffff;
  border-radius: 5px;

  &::before {
    content: '';
    position: absolute;

    bottom: -12px;
    right: 18px;

    width: 17px;
    height: 17px;

    background-image: url('./../images/message.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}

.result__description {
  max-width: 450px;
  padding: 0;
  margin: 0 0 20px;

  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  text-align: center;

  color: #ffffff;
}

.result__event {
  max-width: 480px;
  padding: 10px 15px;
  margin: 0 0 19px;

  font-size: 16px;
  line-height: 25px;

  text-align: center;
  color: var(--akcent-color);

  border: 1px solid #ffffff;
  border-radius: 3px;

  & strong {
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .quiz__wrapper {
    background-size: 122px 164px, 187px 205px;
    background-position: bottom 35px left, top 40px right;
  }

  .quiz__top {
    height: 224px;
    padding: 48px 42px 37px;
    margin-bottom: 74px;
  }

  .quiz__top-bad-script {
    padding: 24px;
    max-width: 600px;
    font-size: 25px;
    line-height: 35px;
  }

  .quiz-question {
    max-width: 510px;
    margin: 0 auto;
    margin-bottom: 64px;

    font-size: 25px;
    line-height: 35px;
  }

  .quiz-answers__list {
    width: 100%;
    margin-bottom: 34px;

    &--less-margin {
      margin-bottom: 40px;
    }
  }

  .quiz-answers__item {
    &:not(:last-of-type) {
      margin-bottom: 34px;
    }
  }

  .select {
    width: 100%;
    min-height: 70px;

    font-size: 20px;
    line-height: 23px;

    & option {
      font-size: 20px;
      line-height: 23px;
    }
  }

  .quiz-indicator {
    margin-top: auto;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
  }
}
